/* Estilo Geral */
body {
    padding-top: 80px;
    font-family: 'Arial', sans-serif;
    margin: 0;
    background-color: #f4f4f4; /* Fundo claro */
}

/* Menu com Gradiente */
.menu {
    height: 60px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: linear-gradient(90deg, #333, #555); /* Gradiente de fundo */
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center; /* Centraliza os itens no menu */
    padding: 0 20px;
    box-sizing: border-box;
}

/* Estilo dos Itens de Menu */
.menu ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap; /* Permite que os itens quebrem linha se necessário */
}

.menu li {
    padding: 5px 10px; /* Espaço entre os itens */
    color: white;
    text-align: center;
    font-size: 14px; /* Tamanho de fonte ajustado */
}

/* Quebra de linha nas palavras longas */
.menu li span {
    display: inline-block;
    white-space: pre-line; /* Permite quebra de linha */
}

/* Link do Menu */
.menu a {
    color: white;
    text-decoration: none;
    transition: color 0.3s ease, transform 0.3s ease;
    transform: scale(1);
}

.menu a:hover {
    color: #ffcc00;
    transform: scale(1.1); /* Aumento leve no hover */
}

/* Imagem Responsiva */
.inline-image {
    width: 100%; /* Largura total em dispositivos móveis */
    height: auto;
    display: block;
    margin: 0 auto 15px;
    border-radius: 8px;
    transition: transform 0.3s ease; /* Transição suave para o efeito de aumento */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Sombra nas imagens */
}

/* Efeito de Aumento ao Passar o Mouse */
.inline-image:hover {
    transform: scale(1.05); /* Aumenta a imagem em 5% ao passar o mouse */
}

/* Imagem Reduzida para Telas Grandes */
@media (min-width: 768px) {
    .inline-image {
        width: 50%; /* Metade da largura em telas maiores */
    }
}

/* Conteúdo e Responsividade */
.content {
    background-color: #ffffff;
    color: #333333;
    flex: 1;
    padding: 20px;
    border-radius: 15px;
    position: relative;
    margin: 20px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

/* Títulos */
h1, h2, h3 {
    color: #2d2d2d;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 15px;
}

/* Ajuste do Menu para Telas Pequenas */
@media (max-width: 768px) {
    .menu li {
        padding: 5px 5px; /* Reduz o espaçamento entre os itens */
        font-size: 12px; /* Diminui o tamanho da fonte */
    }
    .menu ul {
        justify-content: space-around; /* Distribui os itens uniformemente */
    }
    .content {
        margin: 10px;
        padding: 15px;
    }
}
